.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 12px;
  padding: 10px;
  flex-grow: 1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.214);
}

.icon {
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.09);
}

.mainContainer p {
  margin: 0px;
  font-size: 0.6rem;
  font-weight: 600;
}

.light {
  margin: 0px;
  font-weight: 500;
}
